@font-face {
    font-family: 'Kodchasan';
    src: url('../public/fonts/Kodchasan-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('../public/fonts/Kodchasan-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('../public/fonts/Kodchasan-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('../public/fonts/Kodchasan-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('../public/fonts/Kodchasan-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('../public/fonts/Kodchasan-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('../public/fonts/Kodchasan-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('../public/fonts/Kodchasan-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('../public/fonts/Kodchasan-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Kodchasan';
    src: url('../public/fonts/Kodchasan-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Kodchasan';
    src: url('../public/fonts/Kodchasan-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
